.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.main h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.main p {
  font-size: 1.2em;
  color: #888;
}
